node_modules/

testResults/
test-results/
playwright-report/
blob-report/

playwright/.cache/
playwright/.auth/

.env
.vscode/

*.log
npm-debug.log*

!TestResults/testHistory.json

fixtures/*
!fixtures/interface.ts

tests/visual.spec.ts-snapshots/
!tests/visual.spec.ts-snapshots/*-linux.png